<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>create a race</title>
    <link rel="stylesheet" href="styles.css" />
    <script>
      var riderIndex = 0;
      function addRacer() {
        riderIndex += 2;
        var container = document.getElementById("addtlRacers");
        var addtlRacerName = document.createElement("input");
        var addtlRacerNum = document.createElement("input");
        addtlRacerName.type = "text";
        addtlRacerName.name = riderIndex;
        addtlRacerName.placeholder = "Jane Doe";
        addtlRacerNum.type = "number";
        addtlRacerNum.min = "1";
        addtlRacerNum.max = "999";
        addtlRacerNum.name = riderIndex + 1;
        container.appendChild(addtlRacerName);
        container.appendChild(addtlRacerNum);
        container.appendChild(document.createElement("br"));
      }
    </script>
  </head>
  <body>
    <div>
      <a href="/viewAll">
        view all race data
      </a>
    </div>
    <main id="main_index">
      <form action="/races" method="POST" id="Race">
        <p1> Race Name </p1>
        <p2> Number of Laps </p2>
        <div>
          <input type="text" name="title" placeholder="Hello World" /><input
            type="number"
            name="numLaps"
            min="1"
            max="999"
          />
        </div>
        <br />
        <p1>Racers</p1>
        <br />
        <p3>Name</p3>
        <p4>Number</p4>
        <div>
          <input type="text" name="0" placeholder="Jane Doe" /><input
            type="number"
            name="1"
            min="1"
            max="999"
          />
        </div>
        <div id="addtlRacers"></div>
        <div>
          <button id="addRacerButton" type="button" onclick="addRacer()">
            + add a racer
          </button>
        </div>
        <div>
          <button type="submit" id="createRaceButton">
            Create Race
          </button>
        </div>
      </form>
    </main>
  </body>
</html>
