<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>running new race</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="runRace.js"></script>
    <script src="calls.js"></script>
  </head>
  <body onload="setUpUI()">
    <a id="backButton" href="/">back</a>
    <main>
      <div id="lastRaceContainer"></div>
      <h1 id="myTitle" value=""></h1>
      <table id="myTable" border="1">
        <thead id="myTableHeader">
          <tr>
            <th>Bike</th>
          </tr>
        </thead>
        <tbody>
          <tr></tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
