body {
  background-color: #1a1a1a;
}

h1 {
  margin: auto;
  width: 1200px;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 120px;
  padding-right: 50px;
  font-size: 45px;
  font-style: italic;
  color: darkorange;
}

h2 {
  font-size: 23px;
  font-weight: bold;
  color: darkorange;
}

h3 {
  font-size: 18px;
  font-style: normal;
  color: darkorange;
}

p {
  color: #f2f2f2;
}

p1 {
  font-size: 19px;
  font-weight: bold;
  color: #1a1a1a;
}

p2 {
  padding-left: 65px;
  font-size: 19px;
  font-weight: bold;
  color: #1a1a1a;
}

p3 {
  font-size: 17px;
  font-weight: normal;
  color: #1a1a1a;
}

p4 {
  padding-left: 118px;
  font-size: 17px;
  font-weight: normal;
  color: #1a1a1a;
}

#main_index {
  margin: auto;
  width: 380px;
  padding: 22px;
  background-color: #e6e6e6;
  box-shadow: -3px -3px 3px orange;
}

#myTable {
  margin: auto;
  font-size: 17px;
  color: #1a1a1a;
  background-color: #f2f2f2;
  box-shadow: 3px 3px 3px orange;
}

#myTableHeader {
  font-size: 19px;
  background-color: #cccccc;
}

#addRacerButton {
  margin-top: 20px;
  color: #404040;
  background-color: #cccccc;
}

#backButton {
  padding: 2px;
  color: darkorange;
}

#clearDataButton {
  margin-bottom: 50px;
  color: darkorange;
  background-color: #f2f2f2;
}

#createRaceButton {
  margin-left: 278px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 15px;
  color: #f2f2f2;
  background-color: darkorange;
}
